<footer class="footer" id="contacts">
  <div class="footer-container container">
    <div class="footer-image-logo-container">
  
    <div class="footer-logo-container">
      <img
      srcset="
        ./img/footer/img-vegetables-footer-1x.png 1x,
        ./img/footer/img-vegetables-footer-2x.png 2x
      "
      src="./img/footer/img-vegetables-footer-1x.png"
      width="335" height="172"
      alt="fresh broccoli cutted in half"
    />
      <a class="footer-logo" href="./index.html">
        <svg class="footer-logo-icon" width="16" height="16">
          <use href="./public/icon.svg#icon-logo"></use>
        </svg>
        Veggieboost
      </a>
    </div>
  
    <ul class="footer-nav-list">
      <li class="footer-nav-item">
        <a href="#how-it-works">How it works</a>
      </li>
      <li class="footer-nav-item"><a href="#vegetables">Vegetables</a></li>
      <li class="footer-nav-item"><a href="#contacts">Contacts</a></li>
    </ul>
  </div>
  <div class="social-address-container">
    <div class="footer-social">
      <ul class="footer-social-list">
        <li class="footer-social-item">
          <a class="footer-social-link" href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"
            ><svg class="footer-social-icon" width="24" height="24">
              <use href="./public/icon.svg#icon-facebook"></use></svg
          ></a>
        </li>
        <li class="footer-social-item">
          <a class="footer-social-link" href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"
            ><svg class="footer-social-icon" width="24" height="24">
              <use href="./public/icon.svg#icon-instagram"></use></svg
          ></a>
        </li>
        <li class="footer-social-item">
          <a class="footer-social-link" href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer"
            ><svg class="footer-social-icon" width="24" height="24">
              <use href="./public/icon.svg#icon-youtube"></use></svg
          ></a>
        </li>
      </ul>
    </div>

    <address class="contacts">
      <a class="contacts-phone link" href="tel:+380684439426"
        >+380 (68) 443-94-26</a
      >

      <p class="contacts-address">
        1678 S. Pioneer Road <br />
        Salt Lake City <br />
        UT 84104
      </p>
    </address>
  </div>
  </div>
</footer>
