<header class="header">
  <div class="container header-container">
    <div class="header-nav-container">
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-item">
            <a class="header-nav-link" href="#how-it-works">How it works</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link" href="#vegetables">Vegetables</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link" href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="header-logo-container">
      <a class="header-logo" href="./index.html">
        <svg class="header-logo-icon" width="16" height="16">
          <use href="/icon.svg#icon-logo"></use>
        </svg>
        Veggieboost
      </a>
    </div>

    <div class="header-btn-container">
      <button class="header-basket-btn" type="button">
        <svg class="header-basket-icon" width="24" height="24">
          <use href="/icon.svg#icon-shopping"></use>
        </svg>
      </button>

      <button
        class="mobile-menu-open js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
        type="button"
      >
        <svg class="mobile-menu-icon" width="24" height="24">
          <use href="/icon.svg#icon-menu"></use>
        </svg>
      </button>
    </div>

    <div class="mobile-menu-container js-menu-container" id="mobile-menu">
      <div class="mobile-menu-head">
        <a class="header-logo" href="./index.html">
          <svg class="header-logo-icon" width="16" height="16">
            <use href="/icon.svg#icon-logo"></use>
          </svg>
          Veggieboost
        </a>

        <button class="mobile-menu-close js-close-menu" type="button">
          <svg class="mobile-menu-icon" width="24" height="24">
            <use href="/icon.svg#icon-x"></use>
          </svg>
        </button>
      </div>

      <div class="mobile-menu-wrap">
        <ul class="mobile-menu">
          <li class="mobile-menu-item">
            <a href="#how-it-works">How it works</a>
          </li>
          <li class="mobile-menu-item">
            <a href="#vegetables">Vegetables</a>
          </li>
          <li class="mobile-menu-item">
            <a href="#contacts">Contacts</a>
          </li>
        </ul>

        <button class="mobile-basket-btn" type="button">
          <svg class="mobile-basket-icon" width="24" height="24">
            <use href="/icon.svg#icon-shopping"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
