<section class="hero">
  <div class="hero-container">
    <ul class="hero-review-list">
      <li class="hero-review-item">
        <picture>
          <source
            srcset="
              ./img/hero/hero-review-01-x1.png 1x,
              ./img/hero/hero-review-01-x2.png 2x
            "
          />
          <img
            src="./img/hero/hero-review-01-x1.png"
            alt="reviewer photo"
            width="40"
          />
        </picture>
      </li>
      <li class="hero-review-item">
        <picture>
          <source
            srcset="
              ./img/hero/hero-review-02-x1.png 1x,
              ./img/hero/hero-review-02-x2.png 2x
            "
          />
          <img
            src="./img/hero/hero-review-02-x1.png"
            alt="reviewer photo"
            width="40"
          />
        </picture>
      </li>
      <li class="hero-review-item">
        <picture>
          <source
            srcset="
              ./img/hero/hero-review-03-x1.png 1x,
              ./img/hero/hero-review-03-x2.png 2x
            "
          />
          <img
            src="./img/hero/hero-review-03-x1.png"
            alt="reviewer photo"
            width="40"
          />
        </picture>
      </li>
      <li class="hero-review-item">
        <p class="hero-review-number">2k</p>
        <p class="hero-review-text">reviews</p>
      </li>
    </ul>

    <h1 class="hero-title">
      organic <span class="hero-title-vege">vegetables</span> to your diet
      today!
    </h1>

    <p class="hero-text">
      Our expertly curated vegetable baskets are made with the freshest, highest
      quality vegetables available. Fresh Harvest Box has got you covered.
      Fresh, high-quality vegetables in expertly curated vegetable baskets
      delivered to you.
    </p>

    <button type="button" class="hero-btn">shop now</button>

    <div class="hero-picture-container">
      <picture class="hero-picture">
        <source
          srcset="./img/hero/hero-main-x1.png 1x, ./img/hero/hero-main-x2.png 2x"
        />
        <img
          src="./img/hero/hero-main-x1.png"
          alt="woman with veges"
          width="230"
          class="hero-img"
        />
      </picture>
      <div class="hero-picture-bg"></div>
    </div>

    <ul class="hero-hashtag-list">
      <li class="hero-hashtag-item">
        #organic
      </li>
      <li class="hero-hashtag-item">
        #products
      </li>
      <li class="hero-hashtag-item">
        #basket
      </li>
      <li class="hero-hashtag-item">
        #vegetables
      </li>
    </ul>
  </div>
</section>
