<section class="how-it-works">
  <h1 class="how-it-works-title">
    To order your vegetable basket, simply follow these easy steps
  </h1>
  <img
    class="how-it-works-image"
    srcset="
      ./img/how-it-works/how-it-works-broccoli-x1.jpg 1x,
      ./img/how-it-works/how-it-works-broccoli-x2.jpg 2x
    "
    src="./img/how-it-works/how-it-works-broccoli-x1.jpg"
    alt="Broccoli"
    width="335"
    height="158"
  />
  <ul class="how-it-works-list list">
    <li class="how-it-works-item">
      <p class="how-it-works-text">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
    </li>
    <li class="how-it-works-item">
      <p class="how-it-works-text">
        Whether you're looking for a healthy snack or a thoughtful gift, our
        fruit baskets are the perfect choice.
      </p>
    </li>
  </ul>
</section>
