<section class="modal is-hidden" data-modal>
  <div class="container-modal">
    <h2 class="modal-title">YOUR ORDER</h2>
    <button type="button" class="btn-close-modal" data-modal-close>
      <svg class="icon-close-modal" width="24" height="24">
        <use href="/icon.svg#icon-x"></use>
      </svg>
    </button>
    <section class="cabbage-basket-section sections-mob">
      <div class="wrap-choose-sections">
        <input
          type="checkbox"
          name="cabbage-basket"
          id="cabbage-basket"
          class="checkbox-modal visually-hidden"
          value="true"
        />
        <label for="cabbage-basket" class="checkbox-label">
          <div class="modal-title-wrap">
            <h3 class="title-sections">Cabbage Basket</h3>
            <p class="description-sections">Plant</p>
          </div>
          <span class="checkbox-list">
            <svg class="checkbox-icons" width="16" height="16">
              <use href="/icon.svg#icon-check"></use>
            </svg>
          </span>
          <picture>
            <source
              srcset="
                ./img/modal/cabbage-desk-1x.png 1x,
                ./img/modal/cabbage-desk-2x.png 2x
              "
              media="(min-width: 1280px)"
            />

            <source
              srcset="
                ./img/modal/cabbage-tab-1x.png 1x,
                ./img/modal/cabbage-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./img/modal/cabbage-mob-1x.png 1x,
                ./img/modal/cabbage-mob-2x.png 2x
              "
              media="(max-width: 768px)"
            />
            <img
              src="/src/img/modal/cabbage-mob-1x.png"
              alt="Cabbage Basket"
              class="cabbage-mob-img choose-img"
              width="94"
              height="78"
            />
          </picture>
        </label>
      </div>
    </section>
    <section class="tomato-basket-section sections-mob">
      <div class="wrap-choose-sections">
        <input
          type="checkbox"
          name="tomato-basket"
          id="tomato-basket"
          class="checkbox-modal visually-hidden"
          value="true"
        />
        <label for="tomato-basket" class="checkbox-label">
          <div class="modal-title-wrap">
            <h3 class="title-sections">Tomato Basket</h3>
            <p class="description-sections">Plant</p>
          </div>
          <span class="checkbox-list">
            <svg class="checkbox-icons" width="16" height="16">
              <use href="/icon.svg#icon-check"></use>
            </svg>
          </span>
          <picture>
            <source
              srcset="
                ./img/modal/tomato-desk-1x.png 1x,
                ./img/modal/tomato-desk-2x.png 2x
              "
              media="(min-width: 1280px)"
            />

            <source
              srcset="
                ./img/modal/tomato-tab-1x.png 1x,
                ./img/modal/tomato-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./img/modal/tomato-mob-1x.png 1x,
                ./img/modal/tomato-mob-2x.png 2x
              "
              media="(max-width: 768px)"
            />
            <img
              src="/src/img/modal/tomato-mob-1x.png"
              alt="Tomato Basket"
              class="tomato-mob-img choose-img"
              width="94"
              height="78"
            />
          </picture>
        </label>
      </div>
    </section>
    <section class="vegetables-section sections-mob">
      <div class="wrap-choose-sections">
        <input
          type="checkbox"
          name="vegetables-basket"
          id="vegetables-basket"
          class="checkbox-modal visually-hidden"
          value="true"
        />
        <label for="vegetables-basket" class="checkbox-label">
          <div class="modal-title-wrap">
            <h3 class="title-sections">Vegetables Basket</h3>
            <p class="description-sections">Plant</p>
          </div>
          <span class="checkbox-list">
            <svg class="checkbox-icons" width="16" height="16">
              <use href="/icon.svg#icon-check"></use>
            </svg>
          </span>
          <picture>
            <source
              srcset="
                ./img/modal/vegetables-desk-1x.png 1x,
                ./img/modal/vegetables-desk-2x.png 2x
              "
              media="(min-width: 1280px)"
            />

            <source
              srcset="
                ./img/modal/vegetables-tab-1x.png 1x,
                ./img/modal/vegetables-tab-2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./img/modal/vegetables-mob-1x.png 1x,
                ./img/modal/vegetables-mob-2x.png 2x
              "
              media="(max-width: 768px)"
            />
            <img
              src="/src/img/modal/vegetables-mob-1x.png"
              alt="Vegetables Basket"
              class="vegetables-mob-img choose-img"
              width="94"
              height="78"
            />
          </picture>
        </label>
      </div>
    </section>
    <div class="wrap-form">
      <form class="modal-form">
        <div class="modal-field">
          <input
            type="text"
            name="user-name"
            id="user-name"
            placeholder="Enter full name..."
            class="modal-input"
          />
        </div>
        <div class="modal-field">
          <input
            type="text"
            name="user-email"
            id="user-email"
            placeholder="Enter email..."
            class="modal-input"
          />
        </div>
        <div class="modal-field">
          <input
            type="text"
            name="user-card"
            id="user-card"
            placeholder="Enter card..."
            class="modal-input"
          />
        </div>
        <div class="text-modal-field">
          <textarea
            name="user-comment"
            id="user-comment"
            placeholder="Enter comments..."
            class="modal-text-area"
          ></textarea>
        </div>
        <button type="submit" class="btn-submit-modal">Submit</button>
      </form>

      <picture class="wrap-girl">
        <source
          class="girl-desk"
          srcset="
            ./img/modal/img-girl-desk.png    1x,
            ./img/modal/img-girl-desk-2x.png 2x
          "
          media="(min-width: 1280px)"
        />

        <source
          class="girl-tab"
          srcset="
            ./img/modal/img-girl-tab-1x.png,
            ./img/modal/img-girl-tab-2x.png
          "
          media="(min-width: 768px)"
        />

        <img src="./img/modal/img-girl-desk.png" alt="Girl" />
      </picture>
    </div>
  </div>
</section>
