<section class="vegetables">
  <div class="container">
    <h2 class="vegetables-title">organic vegetables</h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <div class="cards">
          <h3 class="cards-subtitle">Carrot</h3>
          <p class="cards-text">Plant</p>
          <div class="img-block">
            <picture>
              <source
                srcset="
                  ./img/vegetables-img/carrot.png   1x,
                  ./img/vegetables-img/carrot2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/vegetables-img/carrot.png   1x,
                  ./img/vegetables-img/carrot2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables-img/vegetables-mob/carrot-mob.png   1x,
                  ./img/vegetables-img/vegetables-mob/carrot-mob2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img src="./img/vegetables-img/carrot.png" alt="Carrot" />
            </picture>
          </div>
          <p class="cards-price">100 UAH / kg</p>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="cards">
          <h3 class="cards-subtitle">Brussel sprouts</h3>
          <p class="cards-text">Plant</p>
          <div class="img-block">
            <picture>
              <source
                srcset="
                  ./img/vegetables-img/brussel.png   1x,
                  ./img/vegetables-img/brussel2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/vegetables-img/brussel.png   1x,
                  ./img/vegetables-img/brussel2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables-img/vegetables-mob/brussel-mob.png   1x,
                  ./img/vegetables-img/vegetables-mob/brussel-mob2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img src="./img/vegetables-img/brussel.png" alt="Brussel" />
            </picture>
          </div>
          <p class="cards-price">80 UAH / kg</p>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="cards">
          <h3 class="cards-subtitle">Tomato</h3>
          <p class="cards-text">Plant</p>
          <div class="img-block">
            <picture>
              <source
                srcset="
                  ./img/vegetables-img/tomato.png   1x,
                  ./img/vegetables-img/tomato2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/vegetables-img/tomato.png   1x,
                  ./img/vegetables-img/tomato2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables-img/vegetables-mob/tomato-mob.png   1x,
                  ./img/vegetables-img/vegetables-mob/tomato-mob2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img src="./img/vegetables-img/tomato.png" alt="Tomato" />
            </picture>
          </div>
          <p class="cards-price">40 UAH / kg</p>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="cards">
          <h3 class="cards-subtitle">Eggplant</h3>
          <p class="cards-text">Plant</p>
          <div class="img-block">
            <picture>
              <source
                srcset="
                  ./img/vegetables-img/eggplant.png   1x,
                  ./img/vegetables-img/eggplant2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/vegetables-img/eggplant.png   1x,
                  ./img/vegetables-img/eggplant2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables-img/vegetables-mob/eggplant-mob.png   1x,
                  ./img/vegetables-img/vegetables-mob/eggplant-mob2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img src="./img/vegetables-img/eggplant.png" alt="Eggplant" />
            </picture>
          </div>
          <p class="cards-price">60 UAH / kg</p>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="cards">
          <h3 class="cards-subtitle">Sweet potatoes</h3>
          <p class="cards-text">Plant</p>
          <div class="img-block">
            <picture>
              <source
                srcset="
                  ./img/vegetables-img/potatoes.png   1x,
                  ./img/vegetables-img/potatoes2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/vegetables-img/potatoes.png   1x,
                  ./img/vegetables-img/potatoes2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables-img/vegetables-mob/potatoes-mob.png   1x,
                  ./img/vegetables-img/vegetables-mob/potatoes-mob2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img src="./img/vegetables-img/potatoes.png" alt="Potatoes" />
            </picture>
          </div>
          <p class="cards-price">80 UAH / kg</p>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="cards">
          <h3 class="cards-subtitle">Leek</h3>
          <p class="cards-text">Plant</p>
          <div class="img-block">
            <picture>
              <source
                srcset="
                  ./img/vegetables-img/leek.png   1x,
                  ./img/vegetables-img/leek2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/vegetables-img/leek.png   1x,
                  ./img/vegetables-img/leek2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables-img/vegetables-mob/leek-mob.png   1x,
                  ./img/vegetables-img/vegetables-mob/leek-mob2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img src="./img/vegetables-img/leek.png" alt="Leek" />
            </picture>
          </div>
          <p class="cards-price">50 UAH / kg</p>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="cards">
          <h3 class="cards-subtitle">Mushrooms</h3>
          <p class="cards-text">Plant</p>
          <div class="img-block">
            <picture>
              <source
                srcset="
                  ./img/vegetables-img/mushrooms.png   1x,
                  ./img/vegetables-img/mushrooms2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/vegetables-img/mushrooms.png   1x,
                  ./img/vegetables-img/mushrooms2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables-img/vegetables-mob/mushrooms-mob.png   1x,
                  ./img/vegetables-img/vegetables-mob/mushrooms-mob2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img src="./img/vegetables-img/mushrooms.png" alt="Mushrooms" />
            </picture>
          </div>
          <p class="cards-price">40 UAH / kg</p>
        </div>
      </li>
      <li class="vegetables-item">
        <div class="cards">
          <h3 class="cards-subtitle">Corn</h3>
          <p class="cards-text">Plant</p>
          <div class="img-block">
            <picture>
              <source
                srcset="
                  ./img/vegetables-img/corn.png   1x,
                  ./img/vegetables-img/corn2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/vegetables-img/corn.png   1x,
                  ./img/vegetables-img/corn2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables-img/vegetables-mob/corn-mob.png   1x,
                  ./img/vegetables-img/vegetables-mob/corn-mob2x.png 2x
                "
                media="(max-width: 767px)"
              />
              <img src="./img/vegetables-img/corn.png" alt="Corn" />
            </picture>
          </div>
          <p class="cards-price">60 UAH / kg</p>
        </div>
      </li>
      <li class="vegetables-item radish-hidden">
        <div class="cards">
          <h3 class="cards-subtitle">Radish</h3>
          <p class="cards-text">Plant</p>
          <div class="img-block">
            <picture>
              <source
                srcset="
                  ./img/vegetables-img/radish.png   1x,
                  ./img/vegetables-img/radish2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <img src="./img//vegetables-img/radish.png" alt="Radish" />
            </picture>
          </div>
          <p class="cards-price">90 UAH / kg</p>
        </div>
      </li>
    </ul>
    <button class="order-bttn" type="button" data-menu-open>
      <svg class="icon-bttn" width="14" height="14">
        <use href="../public/icon.svg#icon-vector"></use></svg
      >ORDER
    </button>
  </div>
</section>
