<section class="vegetables">
 <div class="container">
  <h2 class="vegetables-title">organic vegetables</h2>
  <p class="vegetables-text">Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible. </p>
  <ul class="vegetables-list">
    <li class="vegetables-item">
      <div class="cards">
      <h3>Carrot</h3>
      <p>Plant</p>
      <div class="img-block">
      <picture>
      <source
                  srcset="./img/vegetables-img/carrot.png
                       1x,
                   ./img/vegetables-img/carrot2x.png  2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/vegetables-img/carrot.png   1x,
                    ./img/vegetables-img/carrot2x.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                      ./img/vegetables-img/vegetables-mob/carrot-mob.png 1x,
                    ./img/vegetables-img/vegetables-mob/carrot-mob2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/vegetables-img/carrot.jpg"
                  alt="carrot"
                  width="292"
                  height="223"
                />
    </picture>
  </div>
    <p class="price">100 UAH / kg</p>
  </div>
  </li>
    <li class="vegetables-item">
      <h3>Brussel sprouts</h3>
      <p>Plant</p>
      <div class="img-block">
      <picture>
      <source
                  srcset="./img/vegetables-img/brussel.jpg
                       1x,
                   ./img/vegetables-img/brussel2x.jpg  2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/vegetables-img/brussel.jpg   1x,
                    ./img/vegetables-img/brussel2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                      ./img/vegetables-img/vegetables-mob/brussel-mob.png 1x,
                    ./img/vegetables-img/vegetables-mob/brussel-mob2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/vegetables-img/brussel.jpg"
                  alt="brussel"
                  width=""
                  height=""
                />
    </picture>
  </div>
    <p class="price">80 UAH / kg</p>
  </li>
    <li class="vegetables-item">
      <h3>Tomato</h3>
      <p>Plant</p>
      <div class="img-block">
      <picture>
      <source
                  srcset="./img/vegetables-img/tomato.png
                       1x,
                   ./img/vegetables-img/tomato2x.png  2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/vegetables-img/tomato.png   1x,
                    ./img/vegetables-img/tomato2x.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                      ./img/vegetables-img/vegetables-mob/tomato-mob.png 1x,
                    ./img/vegetables-img/vegetables-mob/tomato-mob2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/vegetables-img/tomato.jpg"
                  alt="tomato"
                  width=""
                  height=""
                />
    </picture>
  </div>
    <p class="price">40 UAH / kg</p>
  </li>
    <li class="vegetables-item">
      <h3>Eggplant</h3>
      <p>Plant</p>
      <div class="img-block">
      <picture>
      <source
                  srcset="./img/vegetables-img/eggplant.jpg
                       1x,
                   ./img/vegetables-img/eggplant2x.jpg  2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/vegetables-img/eggplant.jpg   1x,
                    ./img/vegetables-img/eggplant2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                      ./img/vegetables-img/vegetables-mob/eggplant-mob.png 1x,
                    ./img/vegetables-img/vegetables-mob/eggplant-mob2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/vegetables-img/eggplant.jpg"
                  alt="eggplant"
                  width=""
                  height=""
                />
    </picture>
  </div>
    <p class="price">60 UAH / kg</p>
  </li>
    <li class="vegetables-item">
      <h3>Sweet potatoes</h3>
      <p>Plant</p>
      <div class="img-block">
      <picture>
      <source
                  srcset="./img/vegetables-img/potatoes.jpg
                       1x,
                   ./img/vegetables-img/potatoes2x.jpg  2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/vegetables-img/potatoes.jpg   1x,
                    ./img/vegetables-img/potatoes2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                      ./img/vegetables-img/vegetables-mob/potatoes-mob.png 1x,
                    ./img/vegetables-img/vegetables-mob/potatoes-mob2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/vegetables-img/potatoes.jpg"
                  alt="potatoes"
                  width=""
                  height=""
                />
    </picture></div>
    <p class="price">80 UAH / kg</p>
  </li>
    <li class="vegetables-item">
      <h3>Leek</h3>
      <p>Plant</p>
      <div class="img-block">
      <picture>
      <source
                  srcset="./img/vegetables-img/leek.jpg
                       1x,
                   ./img/vegetables-img/leek2x.jpg  2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/vegetables-img/leek.jpg   1x,
                    ./img/vegetables-img/leek2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                      ./img/vegetables-img/vegetables-mob/leek-mob.png 1x,
                    ./img/vegetables-img/vegetables-mob/leek-mob2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/vegetables-img/leek.jpg"
                  alt="carrot"
                  width=""
                  height=""
                />
    </picture></div>
    <p class="price">50 UAH / kg</p>
  </li>
    <li class="vegetables-item">
      <h3>Mushrooms</h3>
      <p>Plant</p>
      <div class="img-block">
      <picture>
      <source
                  srcset="./img/vegetables-img/mushrooms.jpg
                       1x,
                   ./img/vegetables-img/mushrooms2x.jpg  2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/vegetables-img/mushrooms.jpg   1x,
                    ./img/vegetables-img/mushrooms2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                      ./img/vegetables-img/vegetables-mob/mushrooms-mob.png 1x,
                    ./img/vegetables-img/vegetables-mob/mushrooms-mob2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/vegetables-img/mushrooms.jpg"
                  alt="mushrooms"
                  width=""
                  height=""
                />
    </picture></div>
    <p class="price">40 UAH / kg</p>
  </li>
    <li class="vegetables-item">
      <h3>Corn</h3>
      <p>Plant</p>
      <div class="img-block">
      <picture>
      <source
                  srcset="./img/vegetables-img/corn.jpg
                       1x,
                   ./img/vegetables-img/corn2x.png  2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/vegetables-img/corn.jpg   1x,
                    ./img/vegetables-img/corn2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                      ./img/vegetables-img/vegetables-mob/corn-mob.png 1x,
                    ./img/vegetables-img/vegetables-mob/corn-mob2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/vegetables-img/corn.jpg"
                  alt="corn"
                  width=""
                  height=""
                />
    </picture>
  </div>
    <p class="price">60 UAH / kg</p>
  </li>
    <li class="vegetables-item hidden">
      <h3>Radish</h3>
      <p>Plant</p>
      <div class="img-block">
      <picture>
      <source
                  srcset="./img/vegetables-img/radish.jpg
                       1x,
                   ./img/vegetables-img/radish2x.jpg  2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./img/vegetables-img/radish-mob.jpg   1x,
                    ./img/vegetables-img/radish-mob2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                      ./img/vegetables-img/vegetables-mob/radish-mob.png 1x,
                    ./img/vegetables-img/vegetables-mob/radish-mob2x.png 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="../img/vegetables-img/radish.jpg"
                  alt="radish"
                  width=""
                  height=""
                />
    </picture></div>
    <p class="price">90 UAH / kg</p>
  </li>
  </ul>
 </div>
  </p>
</section>
