<section class="we-will-call-you" id="">
  <div class="we-will-call-you-container container">
    <h2 class="we-will-call-you-title">
      Fresh Harvest Box has got you covered
    </h2>
    <p class="we-will-call-you-text">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>
    <form class="we-will-call-you-form">
      <div class="we-will-call-you-wrap">
        <label for="user-tel" class="we-will-call-you-label visually-hidden"
          >Phone</label
        >
        <input
          type="tel"
          name="user-tel"
          id="user-tel"
          class="we-will-call-you-tel"
          placeholder="+380 ()"
          pattern="\+380 \(\d{2}\)\d{7}"
          required
        />
        <button class="we-will-call-you-btn button" type="submit">
          Recall
        </button>
      </div>
    </form>
    <picture class="we-will-call-you-image">
      <source
        srcset="
          ./img/how-it-works/desktop-girl-x1.png 1x,
          ./img/how-it-works/desktop-girl-x2.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/how-it-works/tablet-girl-x1.png 1x,
          ./img/how-it-works/tablet-girl-x2.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/how-it-works/mobile-girl-x1.png 1x,
          ./img/how-it-works/mobile-girl-x2.png 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="./img/how-it-works/mobile-girl-x1.png"
        alt="Girl with broccoli"
        width="335"
        height="337"
      />
    </picture>
  </div>
</section>
