<section class="call-you" id="">
  <div class="call-you-container container">
    <div class="call-you-wrapper">
      <h2 class="call-you-title">Fresh Harvest Box has got you covered</h2>
      <p class="call-you-text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
      <form class="call-you-form">
        <div class="call-you-wrap">
          <label for="user-tel" class="call-you-label visually-hidden"
            >Phone</label
          >
          <input
            type="tel"
            name="user-tel"
            id="user-tel"
            class="call-you-tel"
            placeholder="+380 ()"
            pattern="\+380 \(\d{2}\)\d{7}"
            required
          />
          <button class="call-you-btn button" type="submit">Recall</button>
        </div>
      </form>
    </div>
    <picture class="call-you-image">
      <source
        srcset="
          ./img/call-you/desktop-girl-x1.png 1x,
          ./img/call-you/desktop-girl-x2.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/call-you/tablet-girl-x1.png 1x,
          ./img/call-you/tablet-girl-x2.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/call-you/mobile-girl-x1.png 1x,
          ./img/call-you/mobile-girl-x2.png 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="../img/call-you/mobile-girl-x1.png"
        alt="Girl with broccoli"
        width="335"
        height="337"
      />
    </picture>
  </div>
</section>
