.steps {
  
}

.steps-container {
  background-color: var(--second-btn-color);
  border-radius: 40px;
  background-image: url(/img/easy-steps/bg.png);
  background-size: cover;
  padding: 40px 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.steps-wrap {}

.steps-title {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
  margin-bottom: 40px;

}

.steps-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
  counter-reset: charter;
}

.steps-item {
  display: flex;
  gap: 14px;
  align-items: center;
}

.steps-item::before {
  display: flex;
  content: counter(charter);
  counter-increment: charter;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.04em;
  background-color: #A1C487;
  border-radius: 50%;
  min-width: 40px;
  height: 38px;
  align-items: center;
  justify-content: center;
}

.steps-text {
  color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.04em;
}

@media screen and (min-width:768px) {
  
  .steps-container {
    flex-direction: row-reverse;
    border-radius: 80px;
    justify-content: space-between;
  }

  .steps-wrap {
    max-width: 275px;
  }

  .steps-title {
    font-size: 28px;
  }
}

@media screen and (min-width:1280px) {

  .steps-container {
    border-radius: 80px;
    justify-content: space-around;
  }

  .steps-wrap {
    max-width: 512px;
  }

  .steps-title {
    font-size: 40px;
  }

  .steps-list {
    max-width: 349px;
  }
}