.footer {
  background-color: #eaf7e5;
}

.footer-container {
  /* Я змінив ХТМЛ код, та додав туди клас - container */
  padding-top: 80px;
  padding-bottom: 80px;
}
.footer-image-logo-container {
  
}
.footer-logo-container {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.footer-logo {
  display: flex;
  gap: 8px;
  color: #141414;
  text-align: center;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.footer-logo-icon {
  fill: #141414;
}
.footer-nav-list {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.footer-nav-item {
  color: #141414;
  text-align: center;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
}
.footer-social {
  margin-top: 40px;
}
.footer-social-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.footer-social-item {
  
 
}
.footer-social-link {
  display: flex;
  padding: 8px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #141414;
}
.footer-social-icon {
  opacity: 0.8;
}
.contacts {
}
.contacts-list {
}
.contacts-item {
}
.contacts-phone {
  text-align: center;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #141414;
  text-align: center;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
.link {
}
.contacts-address {
  text-align: center;
  color: #141414;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;

  }

  .footer-image-logo-container {
    display: flex;
    flex-direction: column;
  }

  .footer-logo-container {
    
  }
  .footer-social {
    margin-top: 0;
  }

  .social-address-container {
    display: flex;
    flex-direction: column;
  }
  .contacts-phone {
    font-size: 18px;
    line-height: 24px;
text-transform: uppercase;
  }
  .contacts-address {
    font-size: 18px;
line-height: 24px;
letter-spacing: -0.36px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-container {
    max-width: 1280px;
    justify-content: left;
  
  }
  .footer-image-logo-container {
    flex-direction: row;
    margin-left: 0;
    gap: 166px;
    margin-right: 166px;
  }
  .footer-nav-list {
    margin-top: 84px;
  }
  .footer-nav-item {
    transition: color var(--transition);
  }
  .footer-nav-item:hover,
  .footer-nav-item:focus {
    color: #a1c487;

  }
  .footer-social-link {
    transition: border-color var(--transition);
  }

  .footer-social-link:hover ,
  .footer-social-link:focus {
    border-color: #a1c487;
  } 


  .footer-social-icon {
    transition: fill var(--transition);
  }

  .footer-social-item:hover .footer-social-icon,
  .footer-social-item:focus .footer-social-icon {
    fill: #a1c487;
  } 
}

