:root {
  --transition: 250ms ease-in;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-container {
  display: none;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  padding: 16px 0;
  position: relative;
  z-index: 999;
}

.header-logo-icon {
  fill: #77ac63;
}

.header-basket-btn {
  display: none;
}

.mobile-menu-open {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 0;
  border: none;
  background-color: transparent;
  outline: none;
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 999;
}

.mobile-menu-open span {
  display: block;
  position: relative;
  width: 20px;
  height: 2px;
  border-radius: 1px;
  background-color: #77ac63;
  transition: var(--transition);
}

.mobile-menu-open span::before,
.mobile-menu-open span::after {
  content: '';
  position: absolute;
  left: 0;
  height: 2px;
  border-radius: 1px;
  background-color: #77ac63;
  transition: var(--transition);
}

.mobile-menu-open span::before {
  width: 10px;
  top: -6px;
}

.mobile-menu-open span::after {
  width: 14px;
  top: 6px;
}

.mobile-menu-open span.show {
  background-color: transparent;
}

.mobile-menu-open span.show::before {
  transform: rotate(45deg);
  width: 20px;
  top: 0;
}

.mobile-menu-open span.show::after {
  transform: rotate(-45deg);
  width: 20px;
  top: 0;
}

/**-------Mobile-Menu--------------*/

.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  overflow: auto;
  width: 100vw;
  height: 100%;
  background-color: #a1c487;
  transition: transform var(--transition);
  transform: translateX(100%);
}

.mobile-menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu-head {
  height: 50px;
  background-color: #fff;
}

.mobile-menu-wrap {
  padding-top: 124px;
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}
.mobile-menu-item {
  color: #fff;
  letter-spacing: -0.04em;
}

.mobile-basket-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  outline: none;
  margin: 0 auto;
}

.mobile-basket-icon {
  fill: #fff;
}
/**------------Tablet-----------------------*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }

  .header-nav-container {
    display: block;
    margin-right: 86px;
  }

  .header-nav-list {
    display: flex;
    gap: 14px;
    align-items: center;
  }

  .header-nav-link {
    letter-spacing: -0.04em;
    text-transform: capitalize;
    padding: 16px 0;
  }

  .header-btn-container {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }

  .header-basket-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 0;
    border: none;
    background-color: transparent;
    outline: none;
  }

  .header-basket-icon {
    fill: #141414;
  }

  .mobile-menu-open {
    display: none;
  }
}

/**------------Desctop-----------------------*/

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .header-nav-container {
    margin-right: 308px;
  }

  .header-nav-link {
    transition: color var(--transition);
  }

  .header-nav-link:hover,
  .header-nav-link:focus {
    color: #a1c487;
  }

  .header-basket-icon {
    transition: fill var(--transition);
  }

  .header-basket-btn:hover .header-basket-icon,
  .header-basket-btn:focus .header-basket-icon {
    fill: #a1c487;
  }
}
