.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-container {
  display: none;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #141414; /*! */
  font-size: 14px;
  font-weight: 700;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  padding: 16px 0;
}

.header-logo-icon {
  fill: #77ac63;
}

.header-basket-btn {
  display: none;
}

.mobile-menu-open {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 0;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.mobile-menu-icon {
  fill: #77ac63;
}

/**-------Mobile-Menu--------------*/

.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  width: 100vw;
  height: 100%;
  /* padding: 80px 35px 40px 40px; */
  background-color: #a1c487;
  /* box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(100%);
}

.mobile-menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu-head {
  height: 50px;
  background-color: #fff;
}
.mobile-menu-close {
  position: absolute;
  top: 13px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.mobile-menu-wrap {
  /* background-color: #a1c487; */
}
.mobile-menu {
}
.mobile-menu-item {
}

.mobile-basket-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.mobile-basket-icon {
  fill: #fff;
}
/**------------Tablet-----------------------*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }

  .header-nav-container {
    display: block;
    margin-right: 86px;
  }

  .header-nav-list {
    display: flex;
    gap: 14px;
    align-items: center;
  }

  .header-nav-link {
    color: #141414;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.04em;
    text-transform: capitalize;
    padding: 16px 0;
  }

  .header-btn-container {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }

  .header-basket-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }

  .header-basket-icon {
    fill: #141414;
  }

  .mobile-menu-open {
    display: none;
  }
}

/**------------Desctop-----------------------*/

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .header-nav-container {
    margin-right: 308px;
  }
}
