.hero {
  background-color: #a1c487;
}

.hero-container {
  padding: 48px 20px 20px 20px;
}

.hero-review-list {
  display: flex;
  margin-bottom: 14px;
}

.hero-review-item {
  background-color: #fff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: -16px;
}

.hero-review-item:nth-child(1) {
  margin-left: 0;
}

.hero-review-number {
  color: #141414;
  text-align: center;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  height: fit-content;
}

.hero-review-text {
  font-size: 8px;
  font-weight: 400;
  line-height: 1.25;
  text-transform: lowercase;
}

.hero-review-item:nth-child(4) {
  flex-direction: column;
  gap: 2px;
}

.hero-title {
  color: #fff;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.hero-title-vege {
  color: #eaf7e5;
  font-style: italic;
}

.hero-text {
  color: #fff;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.04em;
  margin-bottom: 20px;
}

.hero-btn {
  display: block;
  width: 68px;
  height: 68px;
  border: none;
  border-radius: 50%;
  background-color: #faf3e7;
  color: #fc8a11;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  transform: rotate(-14deg);
  margin-bottom: 8px;
}

.hero-picture {
  width: 278px;
  height: 228px;
  margin: 0 auto;
}

.hero-img {
  transform: scale(1.15) translateY(4.5%);
}

.hero-hashtag-list {
  display: flex;
  flex-wrap: wrap;
  width: 169px;
  height: 60px;
  gap: 4px;
  margin-left: auto;
  margin-top: 16px;
}

.hero-hashtag-item {
  padding: 8px 14px;
  border-radius: 1000px;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.hero-hashtag-item:nth-child(1) {
  background-color: #F9F7F4;
  color: #141414;
}