.call-you {
  padding-top: 80px;
  padding-bottom: 80px;
}

.call-you-container {
}

.call-you-title {
  max-width: 323px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: calc(28 / 24);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 20px;
}
.call-you-text {
  text-align: center;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  margin: 0 auto;
  margin-bottom: 40px;
}
.call-you-form {
  margin-bottom: 40px;
}
.call-you-wrap {
  position: relative;
}
.call-you-label {
  display: block;
  width: 100%;
}
.call-you-tel {
  font-style: normal;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  color: #141414;
  border: 1px solid #c1bdbd;
  background-color: transparent;
  border-radius: 100px;
  width: 100%;
  height: 48px;
  padding: 15px 24px;
  outline: transparent;
}
.call-you-tel::placeholder {
  color: #c1bdbd;
  font-style: normal;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
}
.call-you-btn {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 100px;
  background: #fc8a11;
  color: #fff;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  text-transform: capitalize;
  padding: 15px 35px;
  border: none;
}
.call-you-image img {
  background-color: #faf3e7;
  border-radius: 40px;
  background-image: url(/img/call-you/bg-x1.png);
  background-size: cover;
  padding-top: 31px;
}

/* ----------------------------TABLET---------------------------- */

@media screen and (min-width: 768px) {
  .call-you {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .call-you-title {
    max-width: 524px;
    font-size: 40px;
    line-height: calc(44 / 40);
  }

  .call-you-text {
    max-width: 499px;
    font-size: 18px;
    line-height: calc(24 / 18);
  }
  .call-you-form {
    width: 355px;
    margin: 0 auto;
    margin-bottom: 80px;
  }
  .call-you-image img {
    margin: 0 auto;
    width: 704px;
    border-radius: 80px;
    padding-top: 17px;
    padding-left: 37px;
    padding-right: 38px;
  }
}

/* ----------------------------DESKTOP---------------------------- */

@media screen and (min-width: 1280px) {
  .call-you {
    padding-top: 124px;
    padding-bottom: 124px;
  }
  .call-you-container {
    display: flex;
    justify-content: space-between;
    gap: 77px;
  }
  .call-you-wrapper {
    display: flex;
    max-width: 614px;
    flex-direction: column;
    justify-content: center;
  }
  .call-you-title {
    width: 614px;
    font-size: 48px;
    line-height: calc(50 / 48);
    margin-bottom: 40px;
    text-align: left;
  }
  .call-you-text {
    text-align: left;
    margin-bottom: 80px;
  }

  .call-you-form {
    margin-bottom: 0;
    margin-left: 0;
  }
  .call-you-image {
    flex-grow: 1;
    width: calc(100% - 614px - 77px);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .call-you-image img {
    width: 525px;
    padding-top: 37px;
    padding-left: 0;
    padding-right: 0;
  }
  .call-you-tel:focus {
    background-color: #eaf7e5;
  }

  .call-you-btn:hover,
  .call-you-btn:focus {
    background: #a1c487;
  }
}
